<html>
  <head>
    <title>Simple Chat</title>
  </head>
  <body>
    <div class="container-fluid">
      <h1>My Chat</h1>
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
          <footer>
            <div class="row1">
              <input type="text" class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8 letter">
              <input type="button" class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 letter">
            </div>
          </footer>    
        </div>
      </div>
  </body>
</html>